body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

fieldset {
	border: 0;
}

label {
	font-weight: 500;
}

.main-container {
	margin: 0;
	border: 0;
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid red;
}

.input-main-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border: 1px solid red;
}

.sides-container {
	display: flex;
	border: 1px solid red;
	justify-content: space-around;
}

.info-display {
	border: 1px solid red;
	width: 60vw;
	text-align: center;
}

.input-container {
	display: flex;
	justify-content: center;
	gap: 10px;
	width: 40vw;
}

.info-container {
	display: flex;
	justify-content: space-around;
	height: 100%;
	align-items: center;
}

.name {
	font-size: 48px;
	font-weight: 500;
}

.contact-info {
	font-size: 24px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.about-me-container {
	padding: 20px;
}
